mat-form-field {
    width: 100%;
}
mat-card {
    top: -15%;
    /* width: 20rem; 
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);*/
}
.mat-icon {
    vertical-align: middle;
 }
.avatar {
    font-size: 3rem;
    border-radius: 5px;
    border-width: 1px;
    border: solid;
    width: 3rem;
    height: 3rem;
}
.avatar-circle{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}